@font-face{
  font-family:"PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:url('../../fonts/PTSansNarrow-Regular.ttf') format('ttf');
}

@font-face{
  font-family:'PT Sans Narrow',sans-serif;
  font-style: normal;
  font-weight: 700;
  src:url('../../fonts/PTSansNarrow-Bold.ttf') format('ttf');
}
