.reviews-slider{
  width:320px;
  min-height: 175px;
  margin: auto;
  overflow: hidden;
}

.reviews-slider__inner-slider{
  width:300%;
  display: flex;
  align-items: center;

}

.reviews-slider__slide{
  width: 320px;
  float: left;
  text-align: left;
  box-sizing: border-box;
  padding:10px 20px 10px 90px;
  overflow: hidden;
}


@media(min-width:$tablet-width){
  .reviews-slider{
    width:640px;
    height: 135px;
    border:1px solid rgb(229,221,213);
  }

  .reviews-slider__slide{
    width:650px;
    min-height: 100px;
    margin-left: 50px;
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 65px;

  }
}

.reviews-slider__name{
  position: relative;
}

.reviews-slider__name:after{
  content:"";
  position: absolute;
  width:50px;
  height:51px;
  background: url('../../img/photo.png');
  left:-70px;
}


@media(min-width:$desktop-width){
  .reviews-slider {
    width: 960px;
    min-height: 158px;
    box-shadow: 0 0 1px 1px black;
  }
  .reviews-slider__slide{
    width: 960px;
  }
}

